/* Markdown prose styles */
.baleada-prose-article {
  @apply text-black transition px-7 pb-12 pt-11;

  /* Horizontal margin and max width */
  & > .contents {
    & > address,
    & > aside,
    & > blockquote,
    & > details,
    & > div,
    & > dl,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6,
    & > hr,
    & > ol,
    & > p,
    & > section,
    & > ul,
    & > .baleada-prose-aside,
    & > .baleada-prose-blockquote,
    & > .baleada-prose-details,
    & > .baleada-prose-heading,
    & > .baleada-prose-list,
    & > .baleada-prose-section {
      @apply mx-auto with-max-w;
    }

    & > figure,
    & > pre,
    & > table,
    & > svg,
    & > .baleada-prose-codeblock,
    & > .baleada-prose-grid,
    & > .baleada-prose-media {
      @apply mx-auto;
    }
  }


  /* Margin top */
  *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    & + h2 {
      @apply mt-10;
    }

    & + h3,
    & + h4 {
      @apply mt-9;
    }

    & + h5,
    & + h6 {
      @apply mt-8;
    }
  }

  * + blockquote,
  * + .baleada-prose-blockquote {
    @apply mt-9;
  }

  * + address,
  * + aside,
  * + blockquote,
  * + details,
  * + dl,
  * + hr,
  * + ol,
  * + p,
  * + ul,
  * + .baleada-prose-aside,
  * + .baleada-prose-details,
  * + .baleada-prose-list,
  * + .baleada-prose-section {
    @apply mt-5;
  }

  * + figure,
  * + pre,
  * + table,
  * + .baleada-prose-codeblock,
  * + .baleada-prose-grid,
  * + .baleada-prose-media {
    @apply mt-7;
  }

  /* Non-prose elements */
  p {
    @apply text-3 leading-2;
  }

  em {
    @apply italic;
  }

  img {
    @apply w-full rounded-1 shadow-2;
  }

  a {
    @apply text-primary-700 no-underline;

    &:visited {
      @apply text-primary-500;
    }

    &:hover {
      @apply underline;
    }
  }

  .baleada-prose-heading {
    a {
      @apply text-inherit no-underline;
    }
  }

  .baleada-prose-codeblock {
    @apply rounded p-3 overflow-x-scroll -shadow with-max-h scrolling-touch;

    code {
      @apply leading-1 bg-inherit;
    }
  }

  :not(pre) > code,
  kbd {
    @apply rounded py-px px-1 tracking-1 transition;
  }

  :not(pre) > code {
    @apply bg-gray-200;
  }

  :not(h1):not(h2):not(h3):not(h4):not(h5):not(h5) > code {
    @apply text-1;
  }

  .scrollable {
    @apply scrolling-touch overflow-x-scroll -shadow;
  }

  .baleada-prose-table {
    @apply max-w-full mb-6 inline-block;

    .filter-input {
      @apply -shadow bg-gray-100;
    }
    .filter-query-is-case-sensitive-checkbock {

    }
    .filter-query-is-case-sensitive-label {
      @apply text-1 font-500 text-gray-600;
    }

    .contents {
      @apply with-max-h;

      [role="grid"] {
        @apply w-full;
        display: table;
      }

      [role="rowgroup"] {
        display: table-row-group;
      }

      [role="rowgroup"]:first-child {
        @apply rounded-2;
        display: table-header-group;
      }

      [role="row"] {
        display: table-row;

        &:last-child [role="gridcell"] {
          @apply border-b-1;
        }
      }

      [role="columnheader"] {
        @apply py-2 text-1 font-600 uppercase tracking-1 bg-primary-100 text-primary-900;

        code {
          @apply bg-primary-200 normal-case;
        }
      }

      [role="columnheader"],
      [role="gridcell"] {
        @apply text-left px-5 align-top;
        display: table-cell;
      }

      [role="gridcell"] {
        @apply py-4 leading-2 border-l border-gray-300;

        &:last-child {
          @apply border-r;
        }
      }
    }

    &.baleada-prose-table-striped {
      .contents {
        [role="rowgroup"] > :nth-child(even) {
          @apply bg-gray-100;

          [role="gridcell"] {
            @apply border-gray-400;

            code {
              @apply bg-gray-300;
            }
          }
        }
      }
    }
  }

  .baleada-prose-aside {
    @apply relative flex items-start rounded-r-1 p-5 my-6 border-l-4;

    .aside-header {
      @apply flex items-center;
    }

    .aside-icon {
      @apply absolute -left-2px -translate-x-50 h-7 w-7 rounded-full p-1;
    }

    &.aside-info {
      @apply border-blue-500 bg-blue-100 text-blue-900;

      &::before {
        background-image: linear-gradient(to bottom, theme(colors.blue-500) 0%, theme(colors.blue-500) 1.5rem, theme(colors.white) 1.5rem, theme(colors.white) 3rem, theme(colors.blue-500) 3rem, theme(colors.blue-500) 110%);
      }

      .aside-icon {
        @apply bg-blue-500 text-blue-100;
      }

      code,
      kbd {
        @apply bg-blue-200;
      }

      a {
        @apply text-blue-700 font-600;
      }

      li::before {
        @apply text-blue-700;
      }
    }

    &.aside-warning {
      @apply border-yellow-500 bg-yellow-100 text-yellow-900;

      &::before {
        background-image: linear-gradient(to bottom, theme(colors.yellow-500) 0%, theme(colors.yellow-500) 1.5rem, theme(colors.white) 1.5rem, theme(colors.white) 3rem, theme(colors.yellow-500) 3rem, theme(colors.yellow-500) 110%);
      }

      .aside-icon {
        @apply bg-yellow-500 text-yellow-100;
      }

      code,
      kbd {
        @apply bg-yellow-200;
      }

      a {
        @apply text-yellow-700 font-600;
      }

      li::before {
        @apply text-yellow-700;
      }
    }

    &.aside-danger {
      @apply border-red-500 bg-red-100 text-red-900;

      &::before {
        background-image: linear-gradient(to bottom, theme(colors.red-500) 0%, theme(colors.red-500) 1.5rem, theme(colors.white) 1.5rem, theme(colors.white) 3rem, theme(colors.red-500) 3rem, theme(colors.red-500) 110%);
      }

      .aside-icon {
        @apply bg-red-500 text-red-100;
      }

      code,
      kbd {
        @apply bg-red-200;
      }

      a {
        @apply text-red-700 font-600;
      }

      li::before {
        @apply text-red-700;
      }
    }

    &.aside-success {
      @apply border-green-500 bg-green-100 text-green-900;

      &::before {
        background-image: linear-gradient(to bottom, theme(colors.green-500) 0%, theme(colors.green-500) 1.5rem, theme(colors.white) 1.5rem, theme(colors.white) 3rem, theme(colors.green-500) 3rem, theme(colors.green-500) 110%);
      }

      .aside-icon {
        @apply bg-green-500 text-green-100;
      }

      code,
      kbd {
        @apply bg-green-200;
      }

      a {
        @apply text-green-700 font-600;
      }

      li::before {
        @apply text-green-700;
      }
    }
  }
}

@media screen and (min-width: theme('screens.md')) {
  .prose {
    .baleada-prose-codeblock,
    .baleada-prose-table .contents {
      @apply max-h-full;
    }

    blockquote {
      @apply pl-8 pr-6 transition;
    }

    h1 {
      @apply text-7;

      code {
        @apply text-6;
      }
    }

    h2 {
      @apply text-6;

      code {
        @apply text-5;
      }
    }

    h3 {
      @apply text-5;

      code {
        @apply text-4;
      }
    }

    h4 {
      @apply text-4;

      code {
        @apply text-3;
      }
    }

    h5 {
      @apply text-3;

      code {
        @apply text-2;
      }
    }

    p {
      @apply text-3;
    }

    blockquote::before {
      @apply text-10;
    }

    blockquote {
      @apply text-7;
    }

    li::before {
      @apply text-4;
    }

    :not(h1):not(h2):not(h3):not(h4):not(h5):not(h5) > code {
      @apply text-2;
    }

    th {
      @apply text-2;
    }
  }
}

@media screen and (max-width: theme(screens.sm)) {
  .prose {
    @apply px-9;
  }
}

@media screen and (max-width: theme(screens.lg)) {
  .prose {
    @apply px-11;
  }
}

.dark {
  .prose {
    @apply text-gray-200;

    a {
      @apply text-primary-200;

      &:visited {
        @apply text-primary-gray-500;
      }
    }

    .baleada-prose-heading {
      a {
        @apply text-inherit no-underline;
      }
    }

    :not(pre) > code {
      @apply bg-gray-700;
    }

    .baleada-prose-table {
      .filter-input {
        @apply bg-gray-900;
      }
      .filter-query-is-case-sensitive-checkbock {

      }
      .filter-query-is-case-sensitive-label {
        @apply text-gray-500;
      }

      .contents {
        [role="columnheader"] {
          @apply bg-primary-gray-800 text-primary-gray-200;

          code {
            @apply bg-primary-gray-700;
          }
        }

        [role="gridcell"] {
          @apply border-gray-700;
        }
      }

      &.baleada-prose-table-striped {
        .contents {
          [role="rowgroup"] > :nth-child(even) {
            @apply bg-gray-775;

            [role="gridcell"] {
              @apply border-gray-700;

              code {
                @apply bg-gray-700;
              }
            }
          }
        }
      }
    }

    .baleada-prose-aside {
      &.aside-info {
        @apply border-blue-800 bg-blue-900 text-blue-100;

        &::before {
          background-image: linear-gradient(to bottom, theme(colors.blue-800) 0%, theme(colors.blue-800) 1.5rem, theme(colors.gray-800) 1.5rem, theme(colors.gray-800) 3rem, theme(colors.blue-800) 3rem, theme(colors.blue-800) 110%);
        }

        .aside-icon {
          @apply bg-blue-700 text-blue-300;
        }

        code,
        kbd {
          @apply bg-blue-800;
        }

        a {
          @apply text-blue-300;
        }

        li::before {
          @apply text-blue-200;
        }
      }
      &.aside-warning {
        @apply border-yellow-800 bg-yellow-900 text-yellow-100;

        &::before {
          background-image: linear-gradient(to bottom, theme(colors.yellow-800) 0%, theme(colors.yellow-800) 1.5rem, theme(colors.gray-800) 1.5rem, theme(colors.gray-800) 3rem, theme(colors.yellow-800) 3rem, theme(colors.yellow-800) 110%);
        }

        .aside-icon {
          @apply bg-yellow-700 text-yellow-300;
        }

        code,
        kbd {
          @apply bg-yellow-800;
        }

        a {
          @apply text-yellow-300;
        }

        li::before {
          @apply text-yellow-200;
        }
      }
      &.aside-danger {
        @apply border-red-800 bg-red-900 text-red-100;

        &::before {
          background-image: linear-gradient(to bottom, theme(colors.red-800) 0%, theme(colors.red-800) 1.5rem, theme(colors.gray-800) 1.5rem, theme(colors.gray-800) 3rem, theme(colors.red-800) 3rem, theme(colors.red-800) 110%);
        }

        .aside-icon {
          @apply bg-red-700 text-red-300;
        }

        code,
        kbd {
          @apply bg-red-800;
        }

        a {
          @apply text-red-300;
        }

        li::before {
          @apply text-red-200;
        }
      }
      &.aside-success {
        @apply border-green-800 bg-green-900 text-green-100;

        &::before {
          background-image: linear-gradient(to bottom, theme(colors.green-800) 0%, theme(colors.green-800) 1.5rem, theme(colors.gray-800) 1.5rem, theme(colors.gray-800) 3rem, theme(colors.green-800) 3rem, theme(colors.green-800) 110%);
        }

        .aside-icon {
          @apply bg-green-700 text-green-300;
        }

        code,
        kbd {
          @apply bg-green-800;
        }

        a {
          @apply text-green-300;
        }

        li::before {
          @apply text-green-200;
        }
      }
    }
  }
}
