/* Markdown prose styles */
.baleada-prose-article {
  @apply text-black transition px-7 pb-12 pt-11;

  /* Horizontal margin and max width */
  & > .contents {
    & > address,
    & > aside,
    & > blockquote,
    & > details,
    & > div,
    & > dl,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6,
    & > hr,
    & > ol,
    & > p,
    & > section,
    & > ul,
    & > .baleada-prose-aside,
    & > .baleada-prose-blockquote,
    & > .baleada-prose-details,
    & > .baleada-prose-heading,
    & > .baleada-prose-list,
    & > .baleada-prose-section {
      @apply mx-auto with-max-w;
    }

    & > figure,
    & > pre,
    & > table,
    & > svg,
    & > .baleada-prose-codeblock,
    & > .baleada-prose-grid,
    & > .baleada-prose-media {
      @apply mx-auto;
    }
  }


  /* Margin top */
  *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    & + h2 {
      @apply mt-10;
    }

    & + h3,
    & + h4 {
      @apply mt-9;
    }

    & + h5,
    & + h6 {
      @apply mt-8;
    }
  }

  * + blockquote,
  * + .baleada-prose-blockquote {
    @apply mt-9;
  }

  * + address,
  * + aside,
  * + blockquote,
  * + details,
  * + dl,
  * + hr,
  * + ol,
  * + p,
  * + ul,
  * + .baleada-prose-aside,
  * + .baleada-prose-details,
  * + .baleada-prose-list,
  * + .baleada-prose-section {
    @apply mt-5;
  }

  * + figure,
  * + pre,
  * + table,
  * + .baleada-prose-codeblock,
  * + .baleada-prose-grid,
  * + .baleada-prose-media {
    @apply mt-7;
  }

  /* Non-prose elements */
  p {
    @apply text-3 leading-2;
  }

  em {
    @apply italic;
  }

  a {
    @apply text-primary-700 no-underline;

    &:visited {
      @apply text-primary-500;
    }

    &:hover {
      @apply underline;
    }
  }

  :not(pre) > code,
  kbd {
    @apply rounded py-px px-1 tracking-1 transition;
  }

  :not(pre) > code {
    @apply bg-gray-200;
  }

  :not(h1):not(h2):not(h3):not(h4):not(h5):not(h5) > code {
    @apply text-1;
  }

  .baleada-prose-table {
    @apply max-w-full mb-6 inline-block;

    .filter-input {
      @apply -shadow bg-gray-100;
    }
    .filter-query-is-case-sensitive-checkbock {

    }
    .filter-query-is-case-sensitive-label {
      @apply text-1 font-500 text-gray-600;
    }

    .contents {
      @apply with-max-h;

      [role="grid"] {
        @apply w-full;
        display: table;
      }

      [role="rowgroup"] {
        display: table-row-group;
      }

      [role="rowgroup"]:first-child {
        @apply rounded-2;
        display: table-header-group;
      }

      [role="row"] {
        display: table-row;

        &:last-child [role="gridcell"] {
          @apply border-b-1;
        }
      }

      [role="columnheader"] {
        @apply py-2 text-1 font-600 uppercase tracking-1 bg-primary-100 text-primary-900;

        code {
          @apply bg-primary-200 normal-case;
        }
      }

      [role="columnheader"],
      [role="gridcell"] {
        @apply text-left px-5 align-top;
        display: table-cell;
      }

      [role="gridcell"] {
        @apply py-4 leading-2 border-l border-gray-300;

        &:last-child {
          @apply border-r;
        }
      }
    }

    &.baleada-prose-table-striped {
      .contents {
        [role="rowgroup"] > :nth-child(even) {
          @apply bg-gray-100;

          [role="gridcell"] {
            @apply border-gray-400;

            code {
              @apply bg-gray-300;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: theme('screens.md')) {
  .prose {
    .baleada-prose-codeblock,
    .baleada-prose-table .contents {
      @apply max-h-full;
    }

    blockquote {
      @apply pl-8 pr-6 transition;
    }

    h1 {
      @apply text-7;

      code {
        @apply text-6;
      }
    }

    h2 {
      @apply text-6;

      code {
        @apply text-5;
      }
    }

    h3 {
      @apply text-5;

      code {
        @apply text-4;
      }
    }

    h4 {
      @apply text-4;

      code {
        @apply text-3;
      }
    }

    h5 {
      @apply text-3;

      code {
        @apply text-2;
      }
    }

    p {
      @apply text-3;
    }

    blockquote::before {
      @apply text-10;
    }

    blockquote {
      @apply text-7;
    }

    li::before {
      @apply text-4;
    }

    :not(h1):not(h2):not(h3):not(h4):not(h5):not(h5) > code {
      @apply text-2;
    }

    th {
      @apply text-2;
    }
  }
}

@media screen and (max-width: theme(screens.sm)) {
  .prose {
    @apply px-9;
  }
}

@media screen and (max-width: theme(screens.lg)) {
  .prose {
    @apply px-11;
  }
}

.dark {
  .prose {
    @apply text-gray-200;

    a {
      @apply text-primary-200;

      &:visited {
        @apply text-primary-gray-500;
      }
    }

    .baleada-prose-heading {
      a {
        @apply text-inherit no-underline;
      }
    }

    :not(pre) > code {
      @apply bg-gray-700;
    }

    .baleada-prose-table {
      .filter-input {
        @apply bg-gray-900;
      }
      .filter-query-is-case-sensitive-checkbock {

      }
      .filter-query-is-case-sensitive-label {
        @apply text-gray-500;
      }

      .contents {
        [role="columnheader"] {
          @apply bg-primary-gray-800 text-primary-gray-200;

          code {
            @apply bg-primary-gray-700;
          }
        }

        [role="gridcell"] {
          @apply border-gray-700;
        }
      }

      &.baleada-prose-table-striped {
        .contents {
          [role="rowgroup"] > :nth-child(even) {
            @apply bg-gray-775;

            [role="gridcell"] {
              @apply border-gray-700;

              code {
                @apply bg-gray-700;
              }
            }
          }
        }
      }
    }
  }
}
