.baleada-prose-aside {
  @apply relative flex items-start rounded-r-1 p-5 my-6 border-l-4;

  & > svg {
    @apply absolute -left-4px -translate-x-50 h-7 w-7 rounded-full p-1 fill-current;
  }

  &.baleada-prose-aside-info {
    @apply border-blue-500 bg-blue-100 text-blue-900;

    &::before {
      background-image: linear-gradient(to bottom, theme(colors.blue-500) 0%, theme(colors.blue-500) 1.5rem, theme(colors.white) 1.5rem, theme(colors.white) 3rem, theme(colors.blue-500) 3rem, theme(colors.blue-500) 110%);
    }

    & > svg {
      @apply bg-blue-500 text-blue-100;
    }

    code,
    kbd {
      @apply bg-blue-200;
    }

    a {
      @apply text-blue-700 font-600;
    }

    li::before {
      @apply text-blue-700;
    }
  }

  &.baleada-prose-aside-warning {
    @apply border-yellow-500 bg-yellow-100 text-yellow-900;

    &::before {
      background-image: linear-gradient(to bottom, theme(colors.yellow-500) 0%, theme(colors.yellow-500) 1.5rem, theme(colors.white) 1.5rem, theme(colors.white) 3rem, theme(colors.yellow-500) 3rem, theme(colors.yellow-500) 110%);
    }

    & > svg {
      @apply bg-yellow-500 text-yellow-100;
    }

    code,
    kbd {
      @apply bg-yellow-200;
    }

    a {
      @apply text-yellow-700 font-600;
    }

    li::before {
      @apply text-yellow-700;
    }
  }

  &.baleada-prose-aside-danger {
    @apply border-red-500 bg-red-100 text-red-900;

    &::before {
      background-image: linear-gradient(to bottom, theme(colors.red-500) 0%, theme(colors.red-500) 1.5rem, theme(colors.white) 1.5rem, theme(colors.white) 3rem, theme(colors.red-500) 3rem, theme(colors.red-500) 110%);
    }

    & > svg {
      @apply bg-red-500 text-red-100;
    }

    code,
    kbd {
      @apply bg-red-200;
    }

    a {
      @apply text-red-700 font-600;
    }

    li::before {
      @apply text-red-700;
    }
  }

  &.baleada-prose-aside-success {
    @apply border-green-500 bg-green-100 text-green-900;

    &::before {
      background-image: linear-gradient(to bottom, theme(colors.green-500) 0%, theme(colors.green-500) 1.5rem, theme(colors.white) 1.5rem, theme(colors.white) 3rem, theme(colors.green-500) 3rem, theme(colors.green-500) 110%);
    }

    & > svg {
      @apply bg-green-500 text-green-100;
    }

    code,
    kbd {
      @apply bg-green-200;
    }

    a {
      @apply text-green-700 font-600;
    }

    li::before {
      @apply text-green-700;
    }
  }

  &.baleada-prose-aside-simple {
    @apply border-gray-500 bg-gray-100 text-gray-900;

    &::before {
      background-image: linear-gradient(to bottom, theme(colors.gray-500) 0%, theme(colors.gray-500) 1.5rem, theme(colors.white) 1.5rem, theme(colors.white) 3rem, theme(colors.gray-500) 3rem, theme(colors.gray-500) 110%);
    }

    & > svg {
      @apply bg-gray-500 text-gray-100;
    }

    code,
    kbd {
      @apply bg-gray-200;
    }

    a {
      @apply text-gray-700 font-600;
    }

    li::before {
      @apply text-gray-700;
    }
  }

  .dark & {
    &.baleada-prose-aside-info {
      @apply border-blue-800 bg-blue-900 text-blue-100;

      &::before {
        background-image: linear-gradient(to bottom, theme(colors.blue-800) 0%, theme(colors.blue-800) 1.5rem, theme(colors.gray-800) 1.5rem, theme(colors.gray-800) 3rem, theme(colors.blue-800) 3rem, theme(colors.blue-800) 110%);
      }

      & > svg {
        @apply bg-blue-700 text-blue-300;
      }

      code,
      kbd {
        @apply bg-blue-800;
      }

      a {
        @apply text-blue-300;
      }

      li::before {
        @apply text-blue-200;
      }
    }
    &.baleada-prose-aside-warning {
      @apply border-yellow-800 bg-yellow-900 text-yellow-100;

      &::before {
        background-image: linear-gradient(to bottom, theme(colors.yellow-800) 0%, theme(colors.yellow-800) 1.5rem, theme(colors.gray-800) 1.5rem, theme(colors.gray-800) 3rem, theme(colors.yellow-800) 3rem, theme(colors.yellow-800) 110%);
      }

      & > svg {
        @apply bg-yellow-700 text-yellow-300;
      }

      code,
      kbd {
        @apply bg-yellow-800;
      }

      a {
        @apply text-yellow-300;
      }

      li::before {
        @apply text-yellow-200;
      }
    }
    &.baleada-prose-aside-danger {
      @apply border-red-800 bg-red-900 text-red-100;

      &::before {
        background-image: linear-gradient(to bottom, theme(colors.red-800) 0%, theme(colors.red-800) 1.5rem, theme(colors.gray-800) 1.5rem, theme(colors.gray-800) 3rem, theme(colors.red-800) 3rem, theme(colors.red-800) 110%);
      }

      & > svg {
        @apply bg-red-700 text-red-300;
      }

      code,
      kbd {
        @apply bg-red-800;
      }

      a {
        @apply text-red-300;
      }

      li::before {
        @apply text-red-200;
      }
    }
    &.baleada-prose-aside-success {
      @apply border-green-800 bg-green-900 text-green-100;

      &::before {
        background-image: linear-gradient(to bottom, theme(colors.green-800) 0%, theme(colors.green-800) 1.5rem, theme(colors.gray-800) 1.5rem, theme(colors.gray-800) 3rem, theme(colors.green-800) 3rem, theme(colors.green-800) 110%);
      }

      & > svg {
        @apply bg-green-700 text-green-300;
      }

      code,
      kbd {
        @apply bg-green-800;
      }

      a {
        @apply text-green-300;
      }

      li::before {
        @apply text-green-200;
      }
    }
    &.baleada-prose-aside-simple {
      @apply border-gray-800 bg-gray-900 text-gray-100;

      &::before {
        background-image: linear-gradient(to bottom, theme(colors.gray-800) 0%, theme(colors.gray-800) 1.5rem, theme(colors.gray-800) 1.5rem, theme(colors.gray-800) 3rem, theme(colors.gray-800) 3rem, theme(colors.gray-800) 110%);
      }

      & > svg {
        @apply bg-gray-700 text-gray-300;
      }

      code,
      kbd {
        @apply bg-gray-800;
      }

      a {
        @apply text-gray-300;
      }

      li::before {
        @apply text-gray-200;
      }
    }
  }
}
