.baleada-prose-heading {
  /* UI STYLES */
  @apply 
    relative
    pl-[0.25em] sm:pl-[.5em] translate-x-[-0.25em] sm:translate-x-[-0.5em]
    hover:text-primary-50 dork:hover:text-gray-10;

  button {
    @apply
      absolute top-0 left-0 h-[1em] w-[1em] 
      inline-flex center-all
      rounded-full opacity-0 scale-[92%] translate-x-[-.75em] sm:-translate-x-full
      hover:scale-110 focus:opacity-100 active:scale-100;

    svg {
      @apply block h-full w-full fill-current;
    }
  }

  &:hover {
    button {
      @apply opacity-100 scale-100 hover:scale-110 active:scale-100;
    }
  }

  a {
    @apply
      text-inherit not-dork:visited:text-inherit
      not-dork:no-underline not-dork:hover:no-underline dork:no-underline dork:hover:no-underline;
  }


  /* SPECIFIC LEVEL STYLES */
  h1::after {
    content: '';
    @apply block rounded-full h-[2px] bg-primary-70 dork:bg-primary-gray-60;
  }

  h1::after& {
    @apply w-12 mt-6;
  }

  h1& {
    @apply text-8 md:text-8 font-7 text-primary-110 dork:text-gray-30;
    
    code {
      @apply text-7 md:text-7;
    }
  }

  h2& {
    @apply text-6 md:text-7 mb-6 font-5 text-primary-110 dork:text-gray-30;

    code {
      @apply text-5 md:text-6;
    }
  }

  h3& {
    @apply text-5 md:text-6 mb-5 font-6 text-primary-110 dork:text-gray-30;
  }

  h4& {
    @apply text-4 md:text-5 mb-5 font-5 tracking-1 text-primary-110 dork:text-gray-30;

    code {
      @apply text-3 md:text-4;
    }
  }

  h5& {
    @apply text-3 md:text-4 mb-3 font-5 tracking-1 text-primary-110 dork:text-gray-30;

    code {
      @apply text-2 md:text-3;
    }
  }

  /* SHARED H STYLES */
  h1&,
  h2&,
  h3&,
  h4&,
  h5& {
    @apply leading-0;

    .baleada-prose-heading:hover & {
      @apply text-inherit;
    }
  }
}
