.baleada-prose-table {
  @apply w-full flex-col mb-6;

  > div {
    @apply with-max-w w-full mx-auto;

    input[name="Search by query"] {
      @apply -shadow-4 bg-gray-5;
    }
  }

  > div:nth-of-type(2) {
    @apply flex mt-2;

    input[name="Change search case sensitivity"] {
      @apply flex-grow-0;
    }
    label {
      @apply ml-2 mr-auto text-2 font-5 text-gray-60;
    }
  }

  > * + .baleada-prose-contents {
    @apply mt-2;
  }

  input[name="Type to filter"] {
    @apply dork:bg-primary-gray-100;
  }
  input[name="Change filter case sensitivity"] + label {
    @apply dork:text-primary-gray-50;
  }

  .baleada-prose-contents {
    @apply mx-auto min-w-5 with-max-h inline-block overflow-x-scroll scrollbar-hide;

    [role="table"] {
      @apply w-full mr-auto;
      display: table;
    }

    [role="rowgroup"] {
      display: table-row-group;
    }

    [role="rowgroup"]:first-child {
      @apply rounded-4 sticky top-0 shadow-5 z-10;
      display: table-header-group;
    }

    [role="row"] {
      display: table-row;

      &:last-child [role="cell"] {
        @apply border-b-4;
      }
    }

    [role="columnheader"] {
      @apply py-2 text-2 font-6 uppercase tracking-1 bg-primary-10 text-primary-90 dork:bg-primary-gray-90 dork:text-primary-gray-30;

      code {
        @apply bg-primary-20 normal-case dork:bg-primary-gray-80;
      }
    }

    [role="columnheader"],
    [role="cell"] {
      @apply text-left px-5 align-top;
      display: table-cell;
    }

    [role="cell"] {
      @apply py-4 leading-2 border-l-4 bg-white border-gray-30 dork:bg-primary-gray-100 dork:border-primary-gray-80;

      &:last-child {
        @apply border-r-4;
      }
    }

    [role="rowgroup"] > :nth-child(odd) {
      [role="cell"] {
        code {
          @apply dork:bg-primary-gray-90;
        }
      }
    }

    [role="rowgroup"] > :nth-child(even) {
      [role="cell"] {
        @apply bg-gray-5 dork:bg-primary-gray-90;

        code {
          @apply bg-gray-20 dork:bg-primary-gray-80 dork:text-primary-gray-30;
        }
      }
    }

    &.baleada-prose-table-solid {
      [role="rowgroup"] > :nth-child(even) {
        @apply bg-transparent dork:bg-transparent;

        [role="cell"] {
          @apply border-gray-30;

          code {
            @apply bg-gray-10;
          }
        }
      }
    }
  }

  &.freeze-col-1 {
    [role="rowgroup"]:first-child {
      @apply z-30;

      [role="columnheader"]:first-child,
      [role="cell"]:first-child {
        @apply sticky left-0;
      }
    }
  }
}

.baleada-prose-article {
  table {
    @apply w-full mr-auto;
    display: table;
  }

  thead,
  tbody {
    display: table-row-group;
  }

  thead {
    @apply rounded-4;
    display: table-header-group;
  }

  tr {
    display: table-row;

    &:last-child td {
      @apply border-b-4;
    }
  }

  th {
    @apply py-2 text-2 font-6 uppercase tracking-1 bg-primary-10 text-primary-90 dork:bg-primary-gray-80 dork:text-primary-gray-10;

    code {
      @apply normal-case dork:bg-primary-gray-70;
    }
  }

  th,
  td {
    @apply text-left px-5 align-top;
    display: table-cell;
  }

  td {
    @apply py-4 leading-2 border-l-4 border-gray-30 dork:border-gray-70;

    &:last-child {
      @apply border-r-4;
    }
  }

  tbody > :nth-child(even) {
    @apply bg-gray-5 dork:bg-gray-75;

    td {
      @apply border-gray-40 dork:border-gray-70;

      code {
        @apply bg-gray-30 dork:bg-gray-70;
      }
    }
  }
}
